
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Novo</title>
</head>
<body>
    <h2>Nova Cidade</h2>
    <div> 
        <form action="Novo" method="post">
            <input type="text" id="cidade" name="cidade" />
            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>
